[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Curtice DeSota
	email = 37026059+RisingLegacy@users.noreply.github.com
